@model IEnumerable<ParkingManagementSys.Models.Coustmer>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

<p>
    @Html.ActionLink("Add Coustmer", "Create", null, new {@class ="btn btn-primary"})
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CoustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VechicalNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnterTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CoustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VechicalNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlotNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnterTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExitTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CoustID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id=item.CoustID }, new { @class = "btn btn-success" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CoustID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
